@CHARSET "UTF-8";
.allTypes{
	border-radius: 5px;
	margin-top: 15px;
}
.currentPosition{
	color:#B6B6B6;
}
.allTypes>h4{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #F7F7F7;
	box-sizing: border-box;
	padding: 8px 15px;
	font-size: 16px;
    font-weight: bold;
    color: #333333;
}
.Collapse{
	font-size: 14px;
	color: #999999;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.Collapse:before{
	content: '';
	display: inline-block;
	background: url(/resources/exper/image/icon/collapseIcon.png) no-repeat;
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
	margin-top: -5px;
	margin-right: 10px;
}
.typesList{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.typesList>li{
	width: 63px;
	height:30px;
	box-sizing: border-box;
	position: relative;
	margin-right:20px;
}
.typesItem{
	display: block;
    width: 100%;
    height: 100%;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	line-height:30px;
}
.typesItemSpan{
	color: #FFBF43;
	margin-left:5px;
}
.typesItemActive{
	color: #FFFFFF!important;
	background: #FFBF43;
}
.typesItemActive>span{
	margin-left:5px;
}
/* 二级类型 */
.secondTypeList{
	width: 100%;
	background: #FFFFFF;
	border-radius: 5px;
	position: absolute;
	top: 50px;
	left: 5px;
	box-shadow: 0 0 2px #999999;
	z-index: 2;
	display: none;
}
.secondTypeList>li{
	text-align: center;
	padding: 8px 0;
	cursor: pointer;
	box-sizing: border-box;
}
.secondTypeList>li:hover{
	background: #F7F5F5;
}
.NewHotAdd{
	padding: 20px 0;
	display: flex;
    align-items: center;
    justify-content: space-between;
}
/* 最新发表 最多跟帖 */
.clickNewHot{
	font-size: 16px;
	display: flex;
    align-items: center;
}
.clickNewHot span{
	margin-right: 16px;
	cursor: pointer;
	font-size: 14px;
}
.clickNewHotActive{
	color: #FFBF43;
}
/* 发表跟帖 */
.FollowUpList>li{
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	background: #FFFFFF;
	border-radius: 5px;
	margin-bottom: 15px;
	position: relative;
}
.FollowUpItemTitle{
	font-weight: bold;
	font-size: 18px;
	    display: flex;
    align-items: center;
}
.replynum{
	display: flex;
}
.replynum>img{
	width:20px;
	height:20px;
	margin-right:10px;
}
.zhiding{
	width:56px;
	height:46px;
	position: absolute;
    top: 0;
    right: 0;
}
.zhiding>img{
	width:100%;
	height:100%;
}
.replynum{
	font-size:14px;
	color:#999;
}
.FollowUpItemTitle>img{
	width:13px;
	height:17px;
	margin-right:10px;
}
.FollowUpItemName{
	font-size:14px;
	color:#333;
	display: inline-block;
	padding: 10px 0;
}
.FollowUpItemText{
	color: #666666;
	font-size:16px;
	letter-spacing: 3px;
	line-height: 30px;
	border-bottom: 1px solid #F7F7F7;
	padding-bottom: 10px;
}
.FollowUpItemFoot{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.FollowUpItemFoot>ul{
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.FollowUpItemFoot>ul>li{
	padding: 5px 15px;
	border: 1px solid #E7E7E7;
	border-radius: 20px;
	cursor: pointer;
	margin-right: 10px;
}
.FollowUpItemFoot>span{
	color: #999999;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.FollowUpItemFoot>span:before{
	content:'';
	display:inline-block;
	background:url(/resources/exper/image/icon/msgIcon01.png) no-repeat center;
	background-size:100% 100%;
	width:16px;
	height:16px;
	margin-right:5px;
}
.FollowUpItemFoot>span>img{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.ItemFootActive{
	color: #FFBF43!important;
}
.seeMore{
	width: 160px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #9A9A9A;
	color: #9A9A9A;
	text-align: center;
	border-radius: 5px;
	margin: 50px auto;
	cursor: pointer;
}
.add-topic-right{
	display: flex;
    align-items: center;
	background-color:#FFBF43;
	height:30px;
	padding: 0 10px;
    color: #FFFFFF;
    border-radius: 5px;
    cursor:pointer;
}
.add-topic-right img{
	width:18px;
	height:18px;
}