.bread-crumb-container{
    width: 100%;
}
.bread-crumb-container .bread-crumb{
    width: 1170px;
    margin: 0 auto;
    font-size: 14px;
    color: #999;
}
.bread-crumb-container .bread-crumb a{
    color: #333;
}